.container {
  width: 1290px;
  margin: 30px auto;
}
.allelem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poster {
  border-radius: 1%;
}
.input_button {
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 30px;
}
.input {
  width: 340px;
}
.errors {
  margin: 10px;
  color: rgb(237, 116, 116);
  font-size: 12px;
}
.button {
  width: 90px;
}

iframe {
  width: 440px;
  height: 440px;
  border: none;
  display: block;

  // Для адаптивности (опционально)
  //   @media (max-width: 768px) {
  //     height: 200px;
  //   }
}
